<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div>
        <a class="navbar-brand text-light" href="">Welcome to Green Koncepts</a>
        <a class="text-light" style="text-decoration:none; padding:10px;" routerLink="/dash-board">Dashboard</a>
      </div>
      <div class="logdiv">
        <ul>
          <li routerLink="/login">[Login Username]</li>
          <li (click)="onLogOut()">LogOut</li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<app-alert></app-alert>
<router-outlet></router-outlet>