<div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12">
        <div class="group" style="text-align:center; display: flex;">
          <div class="col-md-4" style="text-align:center;">
            <!-- <div class="btn btn-outline-primary text-align-center justify-content-center">Hierarchy</div> -->
            <div class="hierarchy">
              <p>Hierarchy</p>
            </div>
          </div>
          <div class="col-md-4" style="text-align:center;">
            <!-- <div class="btn btn-outline-primary text-align-center justify-content-center">Hierarchy</div> -->
            <div class="hierarchy">
              <p routerLink="/add-customer"
              >Add Customers</p>
            </div>
          </div>
          <div class="col-md-4" style="text-align:center;">
            <!-- <div class="btn btn-outline-primary text-align-center justify-content-center">Hierarchy</div> -->
            <div class="hierarchy">
              <p routerLink="/view-customers"
              >View Customers</p>
            </div>
          </div>
          <div class="col-md-4" style="text-align:center;">
            <!-- <div class="btn btn-outline-primary text-align-center justify-content-center">Hierarchy</div> -->
            <div class="hierarchy">
              <p>Orders</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="group" style="text-align:center; display: flex;">
          <div class="col-md-4" style="text-align:center;">
            <!-- <div class="btn btn-outline-primary text-align-center justify-content-center">Hierarchy</div> -->
            <div class="hierarchy">
              <p>Schedules</p>
            </div>
          </div>
          <div class="col-md-4" style="text-align:center;">
            <!-- <div class="btn btn-outline-primary text-align-center justify-content-center">Hierarchy</div> -->
            <div class="hierarchy">
              <p>Messages</p>
            </div>
          </div>
          <div class="col-md-4" style="text-align:center;">
            <!-- <div class="btn btn-outline-primary text-align-center justify-content-center">Hierarchy</div> -->
            <div class="hierarchy">
              <p>Emails</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>